.logo {
  font-size: 1rem;
  margin: 0.2rem 4rem;
  font-weight: 700;
  cursor: default;
  text-decoration: none;
}

.logo img {
  height: 39px;
  width: 60px;
  border-radius: 1.6rem;
}

.navbar {
  background-color: #3498db;
  display: flex;
  margin-bottom: 0;
  list-style: none;
}

.navbar,
.navbar a {
  color: white;
  font-size: 1.5rem;
  font-weight: 650;
  text-decoration: none;
}

.navbar a.active {
  color: lightsalmon;
}
.navbar-toggler {
  color: white;
}

.offcanvas.show .offcanvas-body {
  background-color: black;
}

.offcanvas.show .navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.offcanvas.show .navbar a {
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 576px) {
  .logo {
    margin: 0rem;
  }
}

