.logo {
  font-size: 1rem;
  margin: 0.2rem 4rem;
  font-weight: 700;
  cursor: default;
  text-decoration: none;
}

.logo img {
  height: 39px;
  width: 60px;
  border-radius: 1.6rem;
}
.bg-c {
  background-color: #1f1f1fb3;
}

.navbar {
  display: flex;
  margin-bottom: 0;
  list-style: none;
}

.bg-sec {
  background-color: none;
}

.navbar a {
  color: white;
    font-size: 1.6rem;
    font-weight: 480;
    margin-left: 7rem;
    text-decoration: none;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.nav-link:after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link:hover:after {
  width: 100%;
}

.nav-link a.active {
  color: lightsalmon;
}
.navbar-toggler {
  color: white;
}
.offcanvas-title {
  font-size: 2.6rem;
  margin-bottom: 0;
  line-height: var(--bs-offcanvas-title-line-height);
}

.offcanvas.show .offcanvas-body {
  background-color: black;
}

.offcanvas.show .navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.offcanvas.show .navbar a {
  margin: 2rem;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .logo {
    margin: 0rem;
  }
}
