.btnn {
  margin-top: 2rem;
}

.about-me {
  width: 50%;
}
.about-me p {
  font-size: 1.3rem;
}
.about-me h2 {
  font-size: 3rem;
}

.about-content h2 {
  line-height: 1.2;

  text-align: left;
}

.about-container {
  display: flex;
  justify-content: center;
}
.img-cont {
  height: 300px;
  border-radius: 2.5rem;
}
.about-content h3 {
  font-size: 4.5rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.img-container {
  margin-right: 9rem;
}

.about-me h3 p {
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
.img-container {
  margin-right: 4rem;
}
.img-cont {
  height: 350px;
  width: 261px;
}
}

@media screen and (max-width: 576px) {
  .about-container {
    padding: 2.8rem;
    display: block;
  }
  .img-container {
    padding: 0rem;
  }
  .about-me {
    width: 100%;
  }
}

@media screen and (max-width: 365px){
  .about-container {
    padding-left: 1rem;
}
.about-me p {
  font-size: 1rem;
}
.img-cont {
  height: 25rem;
  width: 23rem;
}

}