

.footer {
  display: flex;
  gap: 18rem;
  margin-top: 2rem;
  background-color: #001133;
  color: white;
}
.quick{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

}
.quick a{
  margin-top: 1rem
}

.contact h4 {
  margin-top: 1.3rem;
}


 i {
  margin-right: 1rem;
}
.Social {
  margin-top: 4rem;
  display: flex;
  gap : 0.5rem
}

.Social a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;

}
p {
  font-size: 1.5rem;
  opacity:0.84 ;
  margin: 1.5rem 0 0 0 !important; 
}

h4{
opacity:0.84 ;
margin: 2rem 0 0 0;
}

